/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 0;
}

#taskInput {
    width: 70%;
    padding: 15px;
    margin: 15px;
}

#addButton {
    padding: 15px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editButton {
    order: -1; 
    background-color: rgb(239, 239, 94); 
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}

button.doneButton {
    background-color: #429742;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.deleteButton {
    background-color: #ff3333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


#taskList li .buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.buttonContainer button {
    margin-right: 3px;
    flex-direction: row-reverse;
}